In [26]:
import pandas as pd

In [27]:
df1 = pd.read_csv("andhraRtc.csv")
df2 = pd.read_csv("bihaRstc.csv")
df3 = pd.read_csv("jammuRtc.csv")
df4 = pd.read_csv("keralaRtc.csv")
df5 = pd.read_csv("kadambaRtc.csv")
df6 = pd.read_csv("assamStc.csv")
df7 = pd.read_csv("punjabrtc.csv")
df8 = pd.read_csv("RajasthanRtc.csv")
df9 = pd.read_csv("telunganaRtc.csv")
df10 = pd.read_csv("westbengalStc.csv")

In [30]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10])

In [32]:
df

,route_Name,route_Link,bus_Name,bus_types,departing,duration,arrival,rating,price,seats,id
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1582')",RAJDHANI (A.C. Semi Sleeper),12:10,07h 00m,16:00,3.1,374,33,NaN
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '40162')",GARUDA PLUS (VOLVO / BENZ A.C Multi Axle),12:20,07h 00m,16:25,2.2,396,30,NaN
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1468')",eGARUDA,12:40,07h 00m,16:30,3.0,374,32,NaN
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '9945')",LAHARI A/C SLEEPER CUM SEATER,13:00,07h 00m,16:45,2.7,396,33,NaN
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1547')",RAJADHANI AC (CONVERTED METRO LUXURY),13:20,07h 00m,16:50,1.7,374,40,NaN
...,...,...,...,...,...,...,...,...,...,...,...
601,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,Scania Multi-Axle AC Semi Sleeper (2+2),08:15,04h 30m,12:45,4.5,INR 350,23 Seats available,602.0
602,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,AdRoyal Cruiser,Volvo A/C Seater (2+2),06:45,05h 15m,12:00,3.6,474,39 Seats available,603.0
603,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,VE A/C Seater (2+2),23:30,05h 00m,04:30,4.4,INR 475,27 Seats available,604.0
604,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Greenline,Volvo A/C Seater (2+2),06:45,05h 00m,11:45,4.4,INR 350,29 Seats available,605.0
605,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Express Line,Volvo A/C Seater (2+2),23:45,05h 00m,04:45,4.4,INR 499,16 Seats available,606.0

In [33]:
df.to_csv('bus_routes.csv', index = False)

In [34]:
df = pd.read_csv('bus_routes.csv')

In [35]:
df

,route_Name,route_Link,bus_Name,bus_types,departing,duration,arrival,rating,price,seats,id
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1582')",RAJDHANI (A.C. Semi Sleeper),12:10,07h 00m,16:00,3.1,374,33,NaN
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '40162')",GARUDA PLUS (VOLVO / BENZ A.C Multi Axle),12:20,07h 00m,16:25,2.2,396,30,NaN
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1468')",eGARUDA,12:40,07h 00m,16:30,3.0,374,32,NaN
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '9945')",LAHARI A/C SLEEPER CUM SEATER,13:00,07h 00m,16:45,2.7,396,33,NaN
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1547')",RAJADHANI AC (CONVERTED METRO LUXURY),13:20,07h 00m,16:50,1.7,374,40,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6882,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,Scania Multi-Axle AC Semi Sleeper (2+2),08:15,04h 30m,12:45,4.5,INR 350,23 Seats available,602.0
6883,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,AdRoyal Cruiser,Volvo A/C Seater (2+2),06:45,05h 15m,12:00,3.6,474,39 Seats available,603.0
6884,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,VE A/C Seater (2+2),23:30,05h 00m,04:30,4.4,INR 475,27 Seats available,604.0
6885,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Greenline,Volvo A/C Seater (2+2),06:45,05h 00m,11:45,4.4,INR 350,29 Seats available,605.0
6886,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Express Line,Volvo A/C Seater (2+2),23:45,05h 00m,04:45,4.4,INR 499,16 Seats available,606.0

In [41]:
df = df.drop('id', axis=1)

In [42]:
df

,route_Name,route_Link,bus_Name,bus_types,departing,duration,arrival,rating,price,seats
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1582')",RAJDHANI (A.C. Semi Sleeper),12:10,07h 00m,16:00,3.1,374,33
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '40162')",GARUDA PLUS (VOLVO / BENZ A.C Multi Axle),12:20,07h 00m,16:25,2.2,396,30
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1468')",eGARUDA,12:40,07h 00m,16:30,3.0,374,32
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '9945')",LAHARI A/C SLEEPER CUM SEATER,13:00,07h 00m,16:45,2.7,396,33
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1547')",RAJADHANI AC (CONVERTED METRO LUXURY),13:20,07h 00m,16:50,1.7,374,40
...,...,...,...,...,...,...,...,...,...,...
6882,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,Scania Multi-Axle AC Semi Sleeper (2+2),08:15,04h 30m,12:45,4.5,INR 350,23 Seats available
6883,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,AdRoyal Cruiser,Volvo A/C Seater (2+2),06:45,05h 15m,12:00,3.6,474,39 Seats available
6884,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,VE A/C Seater (2+2),23:30,05h 00m,04:30,4.4,INR 475,27 Seats available
6885,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Greenline,Volvo A/C Seater (2+2),06:45,05h 00m,11:45,4.4,INR 350,29 Seats available
6886,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Express Line,Volvo A/C Seater (2+2),23:45,05h 00m,04:45,4.4,INR 499,16 Seats available

In [43]:
df.to_csv('Bus_Routes.csv', index = False)

In [44]:
df = pd.read_csv('Bus_Routes.csv')

In [45]:
df

,route_Name,route_Link,bus_Name,bus_types,departing,duration,arrival,rating,price,seats
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1582')",RAJDHANI (A.C. Semi Sleeper),12:10,07h 00m,16:00,3.1,374,33
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '40162')",GARUDA PLUS (VOLVO / BENZ A.C Multi Axle),12:20,07h 00m,16:25,2.2,396,30
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1468')",eGARUDA,12:40,07h 00m,16:30,3.0,374,32
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '9945')",LAHARI A/C SLEEPER CUM SEATER,13:00,07h 00m,16:45,2.7,396,33
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1547')",RAJADHANI AC (CONVERTED METRO LUXURY),13:20,07h 00m,16:50,1.7,374,40
...,...,...,...,...,...,...,...,...,...,...
6882,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,Scania Multi-Axle AC Semi Sleeper (2+2),08:15,04h 30m,12:45,4.5,INR 350,23 Seats available
6883,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,AdRoyal Cruiser,Volvo A/C Seater (2+2),06:45,05h 15m,12:00,3.6,474,39 Seats available
6884,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,VE A/C Seater (2+2),23:30,05h 00m,04:30,4.4,INR 475,27 Seats available
6885,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Greenline,Volvo A/C Seater (2+2),06:45,05h 00m,11:45,4.4,INR 350,29 Seats available
6886,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Express Line,Volvo A/C Seater (2+2),23:45,05h 00m,04:45,4.4,INR 499,16 Seats available

In [55]:
# Load the CSV file into a DataFrame
df = pd.read_csv("Bus_Routes.csv")

# Add a new 'id' column with default values (e.g., incrementing numbers)
df.insert(0, 'id', range(1, len(df) + 1))

# Rename columns with the new 'id' column included
df.columns = ['id', 'route_Name', 'route_Link', 'bus_Name', 'bus_types', 'departing',
              'duration', 'arrival', 'rating', 'price', 'seats']

# Print DataFrame to verify the new column names
print("\nAfter renaming and adding 'id':")
print(df.head())
print(df.columns)

# Save the DataFrame with the new column names to a new CSV file (optional)
df.to_csv('BusRoutes.csv',index=False)

After renaming and adding 'id':
   id               route_Name  \
0   1  Vijayawada to Hyderabad
1   2  Vijayawada to Hyderabad
2   3  Vijayawada to Hyderabad
3   4  Vijayawada to Hyderabad
4   5  Vijayawada to Hyderabad

                                          route_Link            bus_Name  \
0  https://www.redbus.in/bus-tickets/vijayawada-t...   ('TSRTC', '1582')
1  https://www.redbus.in/bus-tickets/vijayawada-t...  ('TSRTC', '40162')
2  https://www.redbus.in/bus-tickets/vijayawada-t...   ('TSRTC', '1468')
3  https://www.redbus.in/bus-tickets/vijayawada-t...   ('TSRTC', '9945')
4  https://www.redbus.in/bus-tickets/vijayawada-t...   ('TSRTC', '1547')

                                   bus_types departing duration arrival  \
0               RAJDHANI (A.C. Semi Sleeper)     12:10  07h 00m   16:00
1  GARUDA PLUS (VOLVO / BENZ A.C Multi Axle)     12:20  07h 00m   16:25
2                                    eGARUDA     12:40  07h 00m   16:30
3              LAHARI A/C SLEEPER CUM SEATER     13:00  07h 00m   16:45
4      RAJADHANI AC (CONVERTED METRO LUXURY)     13:20  07h 00m   16:50

   rating price seats
0     3.1   374    33
1     2.2   396    30
2     3.0   374    32
3     2.7   396    33
4     1.7   374    40
Index(['id', 'route_Name', 'route_Link', 'bus_Name', 'bus_types', 'departing',
       'duration', 'arrival', 'rating', 'price', 'seats'],
      dtype='object')

In [56]:
df

,id,route_Name,route_Link,bus_Name,bus_types,departing,duration,arrival,rating,price,seats
0,1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1582')",RAJDHANI (A.C. Semi Sleeper),12:10,07h 00m,16:00,3.1,374,33
1,2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '40162')",GARUDA PLUS (VOLVO / BENZ A.C Multi Axle),12:20,07h 00m,16:25,2.2,396,30
2,3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1468')",eGARUDA,12:40,07h 00m,16:30,3.0,374,32
3,4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '9945')",LAHARI A/C SLEEPER CUM SEATER,13:00,07h 00m,16:45,2.7,396,33
4,5,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,"('TSRTC', '1547')",RAJADHANI AC (CONVERTED METRO LUXURY),13:20,07h 00m,16:50,1.7,374,40
...,...,...,...,...,...,...,...,...,...,...,...
6882,6883,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,Scania Multi-Axle AC Semi Sleeper (2+2),08:15,04h 30m,12:45,4.5,INR 350,23 Seats available
6883,6884,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,AdRoyal Cruiser,Volvo A/C Seater (2+2),06:45,05h 15m,12:00,3.6,474,39 Seats available
6884,6885,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Shyamoli Paribahan Pvt Ltd,VE A/C Seater (2+2),23:30,05h 00m,04:30,4.4,INR 475,27 Seats available
6885,6886,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Greenline,Volvo A/C Seater (2+2),06:45,05h 00m,11:45,4.4,INR 350,29 Seats available
6886,6887,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Express Line,Volvo A/C Seater (2+2),23:45,05h 00m,04:45,4.4,INR 499,16 Seats available

In [57]:
df.isna().sum()

id            0
route_Name    0
route_Link    0
bus_Name      0
bus_types     0
departing     0
duration      0
arrival       0
rating        0
price         0
seats         0
dtype: int64

In [62]:
import mysql.connector

In [63]:
conn = mysql.connector.connect(host="localhost",user="root",password="Reethikasql11",database="bus_routes")
cursor = conn.cursor()

In [69]:
create = """CREATE TABLE buses (
    id INT AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT,
    route_link TEXT,
    bus_name TEXT,
    bus_types TEXT,
    departing TIME,
    duration TEXT,
    arrival TIME,
    rating FLOAT,
    price TEXT,
    seats TEXT
)"""

In [70]:
cursor.execute(create)
conn.commit()

In [73]:
insert = """insert into  buses(id, route_Name, route_Link, bus_Name, bus_types, departing,
       duration, arrival, rating, price, seats) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

In [74]:
from tqdm import tqdm

for index, row in tqdm (df.iterrows()):
    cursor.execute(insert, (row["id"],row["route_Name"], row["route_Link"], row["bus_Name"], row["bus_types"],row["departing"],row["duration"],row["arrival"],row["rating"],row["price"],row["seats"]))
    conn.commit()

6887it [00:36, 190.21it/s]